body {
  font-family: verdana, sans-serif;
  color: #fffd;
  background: #0B4E9A;
  margin: 0;
}

h3 {
  text-align: center;
}

.links1 {
  background: #0000;
  padding: 1em;

}

.links1 a {
  color: #fffd;
  margin-right: 1em;
  background: #3ae;
  padding: 0.5em;
  border-radius: 9px
}

form>div {
  display: grid;
  margin-top: 0.7em;
  color: #fffd;
}

form>div>input {
  height: 2em;
}

.botoes {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 1em;
}

form,
h1 {
  margin: auto;
  width: 30%;
}

h1 {
  text-align: center
}

.listagem {
  width: 90%;
  margin: auto;
  text-align: center;
}

.listagem tr:nth-child(even) {
  background: #fff5;
}

.listagem tr:nth-child(odd) {
  background: #0005;
}

.listagem a {
  color: #fff;
}

.edit,
.del {
  width: 3em !important;
  display: block;
}

.botoes {
  height: 1em !important
}

select {
  height: 2.25em;
}


body {
  font-family: verdana, sans-serif;
  color: #fffd;
  background: #0B4E9A;
  margin: 0;
}

.links1 {
  background: #0005;
  padding: 1em;

}

.links1 a {
  color: #fffd;
  margin-right: 1em;
  background: #3ae;
  padding: 0.5em;
  border-radius: 9px
}

form>div {
  display: grid;
  margin-top: 0.7em;
  height: 4em;
  color: #fffd;
}

.botoes {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 3em;
}

select,
button,
input {
  border: 0;
  border-radius: 9px;
  transition: 0.3s
}

select:hover,
button:hover,
input:hover {
  opacity: .7
}

select,
button,
input,
textarea {
  border: 0;
  border-radius: 9px;
  transition: 0.3s
}

select:hover,
button:hover,
input:hover,
textarea:hover,
a:hover {
  opacity: .7
}

form,
h1 {
  margin: auto;
  width: 30%;
}

h1 {
  text-align: center
}

.listagem {
  width: 90%;
  margin: auto;
  text-align: center;
}

.listagem tr:nth-child(even) {
  background: #fff5;
}

.listagem tr:nth-child(odd) {
  background: #0005;
}

.listagem a {
  color: #fff;
}

form>div {
  height: auto;
}

body {
  padding-bottom: 3em;
}

.listagem a {
  margin: auto;
}

/*MouseOverScroll*/
#scL {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 2%;
}

#scR {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 2%;
}

tr {
  transition: .3s;
  height: 2em
}

tr:hover {
  background: #700 !important;
}

tr:nth-child(1):hover {
  background: #0005 !important;
}

tr td:nth-last-child(1) {
  width: 3em;
}

.td_a a {
  pointer-events: none;
}

.td_a {
  cursor: pointer;
  transition: .3s
}

.td_a:hover a {
  color: red !important;
}


/* adicionar */

form>div {
  height: auto;
}

body {
  padding-bottom: 3em
}

#embed_container iframe {
  height: 20em !important;
  border: 1px solid #fff5;
  border-radius: 1em;
}

#embed_container {
  padding: 1em;
  height: 20em !important;
  position: relative;
  z-index: -10;
  box-shadow: 0 0 1em #0005 inset;
  border-radius: 1em;
}

.embedmap_a,
.url_a {
  position: absolute;
  right: 0;
  background: #3ae;
  padding: .3em .7em;
  border-radius: 0px .5em .5em 0px;
  transition: .3s;
  text-decoration-color: #0000
}

.embedmap_a:hover,
.url_a:hover {
  opacity: 1;
  text-decoration-color: #fff9;
  text-shadow: 0 0 5px #fff9
}


/**/
.links1 {
  z-index: 999;
  background: #0009;
  border-bottom: 2px solid #0007
}

* {
  transition: .3s;
  outline: none;
}

.links1 {
  z-index: 999;
  background: #0009;
  border-bottom: 2px solid #0007
}

.links1 a {
  border: 2px solid #fff7;
  cursor: pointer;
  padding: 6px 10px;
  text-decoration: none
}

.links1 span:hover,
.links1 a:hover {
  opacity: 1;
  filter: brightness(1.25);
  color: #fff;
}

.contadores_api {
  margin-left: auto !important;
  position: absolute;
  top: 8px;
  right: 45px;
}

/* adicionar */

form {
  margin: auto;
  width: 100%;
  max-width: 1100px;
}

.bairros_container {
  column-count: 4;
  column-gap: 40px;
}

.bairro_a_i {
  cursor: pointer !important;
  display: flex;
  flex-direction: row;
  flex: 1 !important;
  width: 100%;
  align-items: center;
  justify-content: start;
  font-size: 17px;
}

.bairro_a_i label {
  cursor: pointer;
  user-select: none;
  width: 100%;
  padding: 5px 0;
}

.bairro_a_i:hover {
  background: #0005;
  border-radius: 5px;
}

input{
  padding-left: 10px;
  padding-right: 10px;
}
